* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-primary: #ff274b;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75482;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #000000;
    --main-color: #0ef;

    --container-width-lg: 84%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition--primary: all 0.6s ease-in-out;
}

:hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    transition: all 88ms;
    -webkit-transition: all 88ms;
    -moz-transition: all 88ms;
    -ms-transition: all 88ms;
    -o-transition: all 88ms;
}

span {
    color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

/*--==========================
 About Section
============================-*/
.about {
    display: flex;
    justify-content: center;
}

.about .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7rem 0;
}

.about .container .left img {
    width: 37rem;
    height: 37rem;
}

.about .container .right {
    margin-top: 30%;
}

.about .container .right h3 {
    margin: 0.5rem 0 2rem 0;
}

/*-==========================
    portfolio Section
============================-*/

.portfolio {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 8rem 0 15rem 0;
}

.portfolio .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 4rem;
}

.portfolio .container .project_card {
    position: relative;
    height: 25rem;
}


.portfolio .container .project_card img {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio .container .project_card .link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    background: transparent;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.portfolio .container .project_card .link p {
    position: absolute;
    top: 0;
}

.portfolio .container .project_card:hover .link p {
    color: white;
    animation: movedown 0.5s ease-in-out forwards;
    -webkit-animation: movedown 0.5s ease-in-out forwards;
}

@keyframes movedown {
    form {
        top: 0;
    }

    to {
        top: 40%;
    }
}

.portfolio .container .project_card .link i {
    position: absolute;
    color: #ff274b;
    font-size: 2rem;
    bottom: 0;
}

.portfolio .container .project_card:hover .link i {
    left: 45%;
    animation: moveup 0.5s ease-in-out forwards;
    -webkit-animation: moveup 0.5s ease-in-out forwards;
}

@keyframes moveup {
    form {
        bottom: 0;
    }

    to {
        bottom: 25%;
    }
}

.portfolio .container .project_card:hover .link {
    background: rgba(19, 18, 18, 0.8);
    opacity: 1;
    display: block;
}

/*========contact=========*/
.contact {
    align-items: center;
    text-align: center;
    margin: 6rem 0;
}

.contact .container {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    text-align: left;
    align-items: center;
    height: 25rem;
    border-radius: 10px;
}

.contact .container .info-card {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(10deg,rgb(0, 0, 0),rgb(255, 0, 64), rgb(255, 0, 64), rgb(0, 0, 0));
    padding: 2rem;
    margin: 0 10px 10px 0;
    height: 30rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact .container .info-card h2 {
    margin: 1rem 0;
}

.contact .container .info-card i p {
    margin: 1.4rem 1rem;
}

.contact .container .info-card .fa-phone,
.fa-envelope-o,
.fa-map-marker {
    display: flex;
    align-items: center;
}

.contact .container .info-card .social a {
    background: #61202b;
    border-radius: 50%;
    color: #fff;
    padding: .5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact .container .info-card .social a:hover {
    background: transparent;
}

.form-contact {
    flex-basis: 60%;
}

.form-contact form .form-name .name {
    width: 49%;
    padding: .7rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #2b2a2a;
    color: white;
}

.form-contact form .form-name .last-name {
    width: 49%;
    padding: .7rem;
    border-radius: 5px;
    background: #2b2a2a;
    color: white;
}

.form-contact form .form-email .email {
    width: 99%;
    padding: .7rem;
    border-radius: 5px;
    margin: 1rem 0;
    background: #2b2a2a;
    color: white;
}

.form-contact form .form-message .message {
    width: 99%;
    padding: .7rem;
    border-radius: 5px;
    margin: 1rem 0;
    background: #2b2a2a;
    color: white;
}

.form-contact form button {
    width: 99%;
    padding: .7rem;
    border-radius: 5px;
    background: linear-gradient(10deg,rgb(0, 0, 0),rgb(255, 0, 64), rgb(255, 0, 64), rgb(0, 0, 0));
    color: white;
    cursor: pointer;
}

/*========================
    MEDIA QUERIES TABLETS
========================*/
@media screen and (max-width:1024px) {

    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /*-------about----------*/
    .about .container {
        display: flex;
        flex-direction: column;
        padding: 0 4rem;
    }

    .about .container .right {
        margin-top: 0;
    }

    .about .container .left img {
        width: 30rem;
        height: 30rem;
    }

    .about .container .right h3 {
        margin: 0.5rem 0 1rem 0;
    }

    /*-------portfolio----------*/
    .portfolio .container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }



    /*-------contact----------*/
    .contact .container {
        height: fit-content;
        padding: 10px;
    }

}

/*========================
    MEDIA QUERIES phones
========================*/
@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    /*-------about----------*/
    .about .container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .about .container .left img {
        width: 22rem;
        height: 22rem;
    }

    /*-------portfolio----------*/
    .portfolio .container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    /*-------contact----------*/
    .contact .container {
        height: fit-content;
        padding: 1.4rem;
        display: grid;
        grid-template-columns: 1fr;
    }
}